<!DOCTYPE html>
<html>
  <head>
    <title>express</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <p>Welcome to express</p>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Something went wrong!
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  </body>
</html>
